h1 {
  text-align: center;
  margin-right: 10em;
}

.form {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 2px solid black;
  border-radius: 12px;
  margin-right: 20em;
}

input {
  outline: 0px;
}

.Stextbox {
  width: 100%;
  border-width: 1px;
  margin-bottom: 1px;
  border-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
}

.tableRow {
  width: 100%;
}
/*temporary
td {
  border: 1px solid black;
}
*/
table {
  width: 100%;
  margin: initial;
}

.header3 {
  color: white;
  background-color: black;
  border-radius: 12px;
  margin-right: 17em;
  padding: 1em;
}

.labels {
  display: inline-block;
  text-align: left;
  width: 10em;
  padding: 5px 5px 5px 5px;
  vertical-align: top;
  margin-top: 3px;
}

.textbox {
  width: 96%;
  border-width: 1px;
  margin-bottom: 1px;
  border-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
}

.labelbox {
  width: 5em;
}

.inputbox {
  margin: 1px 1px;
  display: inline-block;
  text-align: left;
  width: 98%;
  vertical-align: middle;
}
